<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conStr" value="data source=.;database=TestDB;user id=sa;pwd=Password0;"/>
    <add key="schemaPath" value="D:\dev\hrc\HRCStudio\HAL9000Test\MetaData"/>
    <add key="providerName" value="System.Data.SqlClient"/>
  </appSettings>
</configuration>