<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conStr" value="data source=85.159.67.249;database=DB120806221915;user id=USR120806221915;pwd=Leh123Net;"/>
    <add key="schemaPath" value="D:\dev\hrc\HRCStudio\HAL9000Test\MetaData"/>
    <add key="providerName" value="System.Data.SqlClient"/>
  </appSettings>
</configuration>